<h2>List of all encoded URLs</h2>
<table class="table table-hover">
    <thead class="thead-dark">
        <td><b>URL</b></td><td><b>Shortified</b></td><td><b>Called</b></td><td
        ><b>Encoded</b></td>
    </thead>
    <tbody>
        {{#list}}
            <tr>
                <td>{{original_url}}</td>
                <td>{{code}}</td>
                <td>{{accessed_count}}</td>
                <td>{{created_count}}</td>
                <td><button
                        onclick="clipboard('{{code}}')"
                        class="btn btn-light"
                    >Copy to Clipboard</button></td>
            </tr>
        {{/list}}
    </tbody>
</table>
<script>
    function clipboard (code) { var el = document.createElement('textarea');
    el.value = window.location.host + "/" + code; el.setAttribute('readonly',
    ''); el.style.position = 'absolute'; el.style.left =
    '-9999px';document.body.appendChild(el); el.select();
    document.execCommand('copy'); document.body.removeChild(el); }
</script>